# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import numpy as np
import pandas as pd

In [46]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
df = pd.read_csv('baseball_games.csv')
df.drop(columns = ['Unnamed: 0'], axis = 1, inplace= True)

In [47]:
# cleaning
# inspect if any column has missing values
df.info()
# attendance has missing values, display the rows with them
bool_series = pd.isnull(df["attendance"])
df[bool_series]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
220,NaN,St. Louis Cardinals,1,8,3,2016-07-26,on grass,Day Game,New York Mets,1,...,90.0,11.0,out to Rightfield,Cloudy,5,3.300000,regular season,0,1,Loss
1724,NaN,New York Mets,0,5,1,2016-06-07,on grass,Day Game,Pittsburgh Pirates,0,...,65.0,17.0,out to Centerfield,Cloudy,4,2.666667,regular season,1,0,Win
1912,NaN,Cleveland Indians,2,7,6,2016-05-23,on grass,Day Game,Chicago White Sox,0,...,82.0,11.0,in from Leftfield,Sunny,13,3.166667,regular season,1,0,Win

In [48]:
# replace missing values with the mean of attendance column
df['attendance'].fillna(df['attendance'].mean(), inplace = True)
# check if missing values were eleminated
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2463 non-null   float64
 1   away_team          2463 non-null   object
 2   away_team_errors   2463 non-null   int64
 3   away_team_hits     2463 non-null   int64
 4   away_team_runs     2463 non-null   int64
 5   date               2463 non-null   object
 6   field_type         2463 non-null   object
 7   game_type          2463 non-null   object
 8   home_team          2463 non-null   object
 9   home_team_errors   2463 non-null   int64
 10  home_team_hits     2463 non-null   int64
 11  home_team_runs     2463 non-null   int64
 12  start_time         2463 non-null   object
 13  venue              2463 non-null   object
 14  day_of_week        2463 non-null   object
 15  temperature        2463 non-null   float64
 16  wind_speed         2463 non-null   float64
 17  wind_direction     2463 non-null   object
 18  sky                2463 non-null   object
 19  total_runs         2463 non-null   int64
 20  game_hours_dec     2463 non-null   float64
 21  season             2463 non-null   object
 22  home_team_win      2463 non-null   int64
 23  home_team_loss     2463 non-null   int64
 24  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(9), object(12)
memory usage: 481.2+ KB

In [49]:
df.head()

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,0,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,0,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,0,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,1,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,0,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [60]:
# create new df_regular that only contains season games
df_regular = df.copy()
df_regular.drop(df_regular[df_regular['season'] == "post season"].index, inplace = True)
# check if only regular season left
#df_regular.season.unique()
df_regular.loc[(df_regular['attendance'] == df_regular['attendance'].max())]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,0,...,77.0,6.0,out to Rightfield,Cloudy,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [61]:
df_regular.loc[df_regular['temperature'] == df_regular['temperature'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,1,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

In [62]:
# other way to display the lowest temperature game
min_temp = df_regular['temperature'].idxmin()
df_regular.iloc[min_temp]

attendance                       39782.0
away_team                  New York Mets
away_team_errors                       0
away_team_hits                         6
away_team_runs                         2
date                          2016-04-05
field_type                      on grass
game_type                       Day Game
home_team             Kansas City Royals
home_team_errors                       0
home_team_hits                         3
home_team_runs                         0
start_time               3:16 p.m. Local
venue                   Kauffman Stadium
day_of_week                      Tuesday
temperature                         68.0
wind_speed                          17.0
wind_direction        from Right to Left
sky                                Sunny
total_runs                             2
game_hours_dec                      2.85
season                    regular season
home_team_win                          0
home_team_loss                         1
home_team_outcome                   Loss
Name: 2444, dtype: object

# 3. Какая игра была самая теплая за весь сезон?

In [63]:
df_regular.loc[df_regular['temperature'] == df_regular['temperature'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,0,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [64]:
df_regular.loc[df_regular['game_hours_dec'] == df_regular['game_hours_dec'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,2,...,68.0,0.0,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [65]:
df_regular.loc[df_regular['game_hours_dec'] == df_regular['game_hours_dec'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,0,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [138]:
# одна игра закончилась ничьей
tie = df_regular.loc[df_regular['home_team_win'] == df_regular['home_team_loss']]
len(tie)

1

# 7. Какая игра была последней в сезоне?

In [140]:
# first convert the column date to datetime format
df_regular['date'] = pd.to_datetime(df_regular['date'])
df_regular.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2428 entries, 0 to 2462
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   attendance         2428 non-null   float64
 1   away_team          2428 non-null   object
 2   away_team_errors   2428 non-null   int64
 3   away_team_hits     2428 non-null   int64
 4   away_team_runs     2428 non-null   int64
 5   date               2428 non-null   datetime64[ns]
 6   field_type         2428 non-null   object
 7   game_type          2428 non-null   object
 8   home_team          2428 non-null   object
 9   home_team_errors   2428 non-null   int64
 10  home_team_hits     2428 non-null   int64
 11  home_team_runs     2428 non-null   int64
 12  start_time         2428 non-null   object
 13  venue              2428 non-null   object
 14  day_of_week        2428 non-null   object
 15  temperature        2428 non-null   float64
 16  wind_speed         2428 non-null   float64
 17  wind_direction     2428 non-null   object
 18  sky                2428 non-null   object
 19  total_runs         2428 non-null   int64
 20  game_hours_dec     2428 non-null   float64
 21  season             2428 non-null   object
 22  home_team_win      2428 non-null   int64
 23  home_team_loss     2428 non-null   int64
 24  home_team_outcome  2428 non-null   object
 25  temp_in_cels       2428 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(9), object(11)
memory usage: 512.2+ KB

In [141]:
df_regular.loc[df_regular['date'] == df_regular['date'].max()]
# these games were played on the last day, we cannot say which game was played last because we don't have information about local time

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_in_cels
349,28730.0,Miami Marlins,0,14,7,2016-10-02,on grass,Day Game,Washington Nationals,0,...,2.0,from Left to Right,Overcast,17,3.600000,regular season,1,0,Win,22.777778
385,37015.0,Tampa Bay Rays,0,13,6,2016-10-02,on grass,Day Game,Texas Rangers,2,...,7.0,from Left to Right,Sunny,10,4.000000,regular season,0,1,Loss,27.777778
386,44615.0,Pittsburgh Pirates,2,9,4,2016-10-02,on grass,Day Game,St. Louis Cardinals,0,...,6.0,out to Leftfield,Unknown,14,3.200000,regular season,1,0,Win,21.666667
387,41445.0,Los Angeles Dodgers,1,4,1,2016-10-02,on grass,Day Game,San Francisco Giants,0,...,10.0,out to Centerfield,Unknown,8,3.066667,regular season,1,0,Win,16.666667
388,24856.0,Oakland Athletics,0,7,3,2016-10-02,on grass,Day Game,Seattle Mariners,0,...,1.0,out to Centerfield,Unknown,5,2.566667,regular season,0,1,Loss,14.444444
389,36935.0,New York Mets,3,8,2,2016-10-02,on grass,Day Game,Philadelphia Phillies,0,...,2.0,from Right to Left,Cloudy,7,2.650000,regular season,1,0,Win,18.888889
390,33277.0,Baltimore Orioles,0,7,5,2016-10-02,on grass,Day Game,New York Yankees,0,...,4.0,from Left to Right,Unknown,7,2.533333,regular season,0,1,Loss,15.555556
391,29475.0,Cleveland Indians,0,4,3,2016-10-02,on grass,Day Game,Kansas City Royals,0,...,2.0,from Right to Left,Cloudy,5,2.433333,regular season,0,1,Loss,22.777778
392,27762.0,Milwaukee Brewers,1,10,6,2016-10-02,on grass,Day Game,Colorado Rockies,0,...,3.0,out to Centerfield,Sunny,10,3.383333,regular season,0,1,Loss,25.000000
393,32587.0,Chicago Cubs,0,9,7,2016-10-02,on grass,Day Game,Cincinnati Reds,0,...,7.0,out to Leftfield,Unknown,11,3.300000,regular season,0,1,Loss,21.666667
394,21904.0,Minnesota Twins,0,9,6,2016-10-02,on grass,Day Game,Chicago White Sox,0,...,6.0,out to Leftfield,Unknown,9,3.016667,regular season,0,1,Loss,18.333333
395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,1,...,6.0,out to Leftfield,Unknown,3,3.233333,regular season,0,1,Loss,13.333333
396,51220.0,Detroit Tigers,1,5,0,2016-10-02,on grass,Day Game,Atlanta Braves,0,...,8.0,from Left to Right,Cloudy,1,2.783333,regular season,1,0,Win,26.666667
397,31385.0,San Diego Padres,0,7,2,2016-10-02,on grass,Day Game,Arizona Diamondbacks,0,...,0.0,in unknown direction,In Dome,5,2.616667,regular season,1,0,Win,26.111111
398,28083.0,Houston Astros,0,7,1,2016-10-02,on grass,Day Game,Los Angeles Angels of Anaheim,0,...,5.0,out to Centerfield,Cloudy,9,2.700000,regular season,1,0,Win,23.888889

# 8. У какой игры было минимальное количество зрителей?

In [194]:
df.loc[df['attendance'] == df['attendance'].min()]
#df_regular.loc[df_regular['attendance'] == df_regular['attendance'].min()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,0,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [70]:
df_regular.loc[df_regular['wind_speed'] == df_regular['wind_speed'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,0,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,3,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [71]:
df_regular.loc[df_regular['total_runs'] == df_regular['total_runs'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,1,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [102]:
df_regular.loc[df_regular['home_team_errors'] == df_regular['home_team_errors'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,5,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество hits?

In [150]:
df_regular['total_hits'] = df_regular['home_team_hits'] + df_regular['away_team_hits']
#df_regular.head()
df_regular.loc[df_regular['total_hits'] == df_regular['total_hits'].max()]

,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,home_team_errors,...,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_in_cels,total_hits
1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,2,...,out to Centerfield,Cloudy,17,3.666667,regular season,1,0,Win,28.888889,37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [159]:
#df_regular['home_team'].value_counts()

Kansas City Royals               81
Cincinnati Reds                  81
Cleveland Indians                81
Los Angeles Dodgers              81
Boston Red Sox                   81
Chicago White Sox                81
San Francisco Giants             81
St. Louis Cardinals              81
Toronto Blue Jays                81
Washington Nationals             81
Colorado Rockies                 81
Chicago Cubs                     81
Houston Astros                   81
Minnesota Twins                  81
New York Mets                    81
Philadelphia Phillies            81
Seattle Mariners                 81
Milwaukee Brewers                81
New York Yankees                 81
Oakland Athletics                81
Pittsburgh Pirates               81
San Diego Padres                 81
Tampa Bay Rays                   81
Texas Rangers                    81
Arizona Diamondbacks             81
Atlanta Braves                   81
Baltimore Orioles                81
Los Angeles Angels of Anaheim    81
Miami Marlins                    80
Detroit Tigers                   80
Name: home_team, dtype: int64

In [124]:
# sum of all the games
result = df_regular['home_team'].value_counts() + df_regular['away_team'].value_counts()
result.sort_values()

Miami Marlins                    161
Atlanta Braves                   161
Cleveland Indians                161
Detroit Tigers                   161
Texas Rangers                    162
Tampa Bay Rays                   162
St. Louis Cardinals              162
Seattle Mariners                 162
San Francisco Giants             162
San Diego Padres                 162
Pittsburgh Pirates               162
Philadelphia Phillies            162
Oakland Athletics                162
New York Yankees                 162
New York Mets                    162
Minnesota Twins                  162
Arizona Diamondbacks             162
Toronto Blue Jays                162
Los Angeles Dodgers              162
Los Angeles Angels of Anaheim    162
Kansas City Royals               162
Houston Astros                   162
Colorado Rockies                 162
Cincinnati Reds                  162
Chicago White Sox                162
Chicago Cubs                     162
Boston Red Sox                   162
Baltimore Orioles                162
Milwaukee Brewers                162
Washington Nationals             162
dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [163]:
# if only counting season games and not post-season
#calculate winners at home and away
winner_home = df_regular[df_regular['home_team_win'] == 1]
winner_away = df_regular[df_regular['home_team_loss'] == 1]

In [197]:
winner = winner_home['home_team'].value_counts() + winner_away['away_team'].value_counts()
#winner.sort_values(ascending=False)
winner.sort_values(ascending=False).iloc[:1]

Chicago Cubs    103
dtype: int64

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [173]:
winner_home = df_regular[df_regular['home_team_win'] == 1]
#winner_home['home_team'].value_counts()
winner_home['home_team'].value_counts().sort_values(ascending=False).iloc[:1]

Chicago Cubs    57
Name: home_team, dtype: int64

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [174]:
winner_away = df_regular[df_regular['home_team_loss'] == 1]
#winner_away['away_team'].value_counts()
winner_away['away_team'].value_counts().sort_values(ascending=False).iloc[:1]

St. Louis Cardinals    48
Name: away_team, dtype: int64

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [180]:
#calculate losses at home and away
loss_home = df_regular[df_regular['home_team_win'] == 0]
loss_away = df_regular[df_regular['home_team_loss'] == 0]

In [198]:
loss = loss_home['home_team'].value_counts() + loss_away['away_team'].value_counts()
#loss.sort_values(ascending=False)
loss.sort_values(ascending=False).iloc[:1]

Minnesota Twins    103
dtype: int64

# 18. Зависит ли выигрышь от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [158]:
cov = df_regular.home_team_win.cov(df_regular.attendance)
print(f'Yes, there is a positive correlation, covariance is {cov} ')

Yes, there is a positive correlation, covariance is 242.53840073138002

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [193]:
pd.pivot_table(df, index = 'day_of_week', values = 'home_team_win', aggfunc = np.median )
# 0 is loss, so the median 0 indicates days with more losses

             home_team_win
day_of_week
Friday                   1
Monday                   1
Saturday                 1
Sunday                   1
Thursday                 0
Tuesday                  1
Wednesday                1

In [ ]:
print('No, it is Thursday')

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [96]:
# transform Fahrenheit to Celsius
df_regular['temp_in_cels'] = (df_regular['temperature']-32)*5/9

In [97]:
#df_regular.head()

In [125]:
if df_regular[df_regular["temp_in_cels"]>0]["total_runs"].max() > df_regular[df_regular["temp_in_cels"]<0]["total_runs"].max():
    print('More runs when the weather is above 0')
else:
    print('More runs when the weather is below 0')

More runs when the weather is above 0

In [126]:
df_regular[df_regular["temp_in_cels"]>0]["total_runs"].max()

29

In [127]:
df_regular[df_regular["temp_in_cels"]<0]["total_runs"].max()

12